# hosts to try SSHing to in order to check the internet connection
# the SHA1 fingerprints can be obtained with ./netch.py -p <host:port>
fingerprints:
(

    {
        # hostname to connect to
        host= "boring.example.org";
        # port to connect on (default: 22)
        port = 22;
        # SHA1 fingerprint. can be obtained with: ./netch.py -p <host:port>
        fingerprint = "01234567890ABCDEF...";
    },

    {
        host= "sneaky.example.org";
        port = 443;
        fingerprint = "0123...";
    }

);

# list of commands to run after transitioning from offline to online
online_hook = ["~/bin/reconnect"];

# list of commands to run after transitioning from online to offline
offline_hook = ["killall ssh"];

# log to syslog? if false, messages will be sent to stdout and stderr 
syslog="false";

# log info messages?
log_info="true";

# time to wait between host checks
# one connection check consists of one host check for each host defined
host_delay="5";

# time to way between connection checks when an interface is up
delay="20";

# multiply connection check delay by this every loop
delay_factor="1.5";

# the maximum amount of time in seconds to wait between connection checks
delay_max="900";